<% provide(:title, "About")%>
<div class="container">
    <div class= "row justify-content-center">
        <div class = "col-lg-11 col-xl-9">
            <section class="py-4 py-lg-5">
            <div class="mb-3 d-flex">
                <img alt="Pipeline" src="/pages/assets/img/logo-color.svg" class="avatar avatar-lg mr-1">
            </div>
                <h1 class="display-4 mb-3">Welcome to Connect4G</h1>
                <%# <div class= "mb-3 d-flex"> %>
                <div class="carousel-inner overflow-visible">
                    <div class = "shadow-lg">
                        <img alt="Image" src= "/founder.jpeg", class = "img-fluid rounded border">
                    </div>
                </div>
                <div class= "align-items-center mb-3">
                    <p class= "lead">
                    </p>
                    <p class="lead">
        

                        Connect4G compiles everyone's information in order to connect motivated individuals. If you want to build a team of people who understand
                        finance, are capable of analyzing data, and speak Spanish, then going to Connect4G is the best way to find them.
                        After confirming your email, you will get complete access to our database. You will then have the ability to connect
                        with every individual in the network. Hopefully, you will connect for good.
                    </p>
                    <p class="lead">
                    I also wish that you have as much fun building things with each other as I did building this.
                    </p>
                    <p class="lead">
                    Kenton Blacutt
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>