<div class="media mb-4">
  <img alt="Image" src="/pages/assets/img/avatar-male-4.jpg" class="avatar avatar-lg" />
  <div class="media-body ml-3">
      <div class="custom-file custom-file-naked d-block mb-1">
          <%# <input type="file" class="custom-file-input d-none" id="avatar-file"> %>
          <%# <%@fotito = fotito_path%>
          <%# <%@user = User.find(current_user.id)%>
          <%= form_for (@user) do |f|%>
          <%# <%byebug%> 
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "custom-file-input d-none" %>
          <%# <label class="custom-file-label position-relative" for="avatar-file"> %>
              <%= f.submit "Upload picture", class: "btn btn-primary" %>
              <%# <span class="btn btn-primary">
                  Upload avatar
              </span> %>
              <%end%>
          </label>
      </div>
      <small>For best results, use an image at least 256px by 256px in either .jpg or .png format</small>
  </div>
</div>