<div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="members-tab" data-filter-list="list-group">
    <p> </p>
    <p> </p>
</div>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="members-tab" data-filter-list="list-group">
    <form class="px-3 mb-3">
        <div class="input-group input-group-round">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">filter_list</i>
                </span>
            </div>
            <input type="search" class="form-control filter-list-input" placeholder="Filter professors" aria-label="Filter Members" aria-describedby="filter-members">
        </div>
    </form>
    <div class="list-group list-group-flush filter-list-1542287826174"><a class="list-group-item list-group-item-action" href="#">
            
        
    <%@teachers.each do |teacher|%>
        <%= link_to teacher, class: "list-group-item list-group-item-action" do %>
            <div class="media media-member mb-0">
                <%# <img alt="Sally Harper" src="/pages/assets/img/avatar-female-3.jpg" class="avatar"> %>
                <div class="media-body">
                    <h6 class="mb-0 H6-filter-by-text" data-filter-by="text"><%=teacher.name%></h6>
                    <span data-filter-by="text" class="SPAN-filter-by-text"><p> </p><p><%=teacher.domain%></p><p><%=teacher.position%></p></span>                                                        </div>
            </div><br/>
        <%end%>
    <%end%>
        </div>
</div>